/* frontend/src/pages/AuthPage.css */

/* Estilo para inputs con error */
.input-error {
    border-color: #e53e3e;
    /* Rojo */
    background-color: #fff5f5;
    /* Rojo muy claro */
}

.input-error:focus {
    border-color: #c53030;
    /* Rojo más oscuro */
    background-color: #fff5f5;
}

/* Estilo para mensajes de error debajo de los inputs */
.error-message {
    color: #c53030;
    /* Rojo oscuro */
    font-size: 0.8em;
    margin-top: 5px;
}